#logo img{
    max-height: 81px;
    margin: -10px 0;
}
#header.cloned #logo img{
    margin-top: -9px;
}
#logo{
    margin-top: -10px;
}
label.error, label.error {
    /* remove the next line when you have trouble in IE6 with labels in list */
    color: red;
    font-style: italic;
    margin-bottom: -10px;
}
input.error, select.error { border: 1px dotted red !important; }
.sign-in-form label i{
    bottom: auto;
    top: 50px;
}
#LogingForm .social-icons li{
    position: relative;
    top: 0;
    transition: all 0.4s;
}
#LogingForm .social-icons li:hover{
    top: -3px;
}
.forget-pass .main-search-inner {
    transform: translate(0, 0);
    background-color: #7fbd42;
    background-image: url(../images/black-linen-2.png);
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    color: #333333;
   padding: 50px 0;
}
.featured-section h3{
    line-height: 26px;
    font-size: 19px;
    font-weight: 500;
    margin: 0;
}
.forget-pass .box-form {
    margin: 0 auto;
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px hsla(0, 0%, 100%, 0.15);
}
@media (max-width: 980px) {
    .forget-pass .box-form {
        flex-flow: wrap;
        text-align: center;
        align-content: center;
        align-items: center;
    }
}
.forget-pass .box-form div {
    height: auto;
}
.forget-pass .box-form .left {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/GettyImages-182859572.jpg);
    overflow: hidden;
}
.forget-pass .box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: rgba(127, 189, 66, 0.82);
    overflow: hidden;
    box-sizing: border-box;
}
.forget-pass .box-form .left .overlay h1 {
    font-size: 96px;
    line-height: 1;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 20px;
}
.forget-pass .box-form .left .overlay span p {
    margin-top: 30px;
    font-weight: 900;
}

.forget-pass .box-form .right {
    padding: 40px;
    overflow: hidden;
}

.forget-pass .box-form .right h5 {
    font-size: 25px;
}
.forget-pass .box-form .right p {
    font-size: 14px;
    color: #B0B3B9;
}
.forget-pass .box-form .right .inputs {
    overflow: hidden;
}
.forget-pass .box-form .right input {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
}
.forget-pass .box-form .right .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forget-pass .box-form .right .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
}
.forget-pass .box-form .right button {
    float: right;
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
}

.forget-pass label {
    display: block;
    position: relative;
    margin-left: 30px;
}

.forget-pass label::before {
    content: ' \f00c';
    position: absolute;
    font-family: FontAwesome;
    background: transparent;
    border: 3px solid #70F570;
    border-radius: 4px;
    color: transparent;
    left: -30px;
    transition: all 0.2s linear;
}

.forget-pass label:hover::before {
    font-family: FontAwesome;
    content: ' \f00c';
    color: #fff;
    cursor: pointer;
    background: #70F570;
}

.forget-pass label:hover::before .text-checkbox {
    background: #70F570;
}

.forget-pass label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
}

.forget-pass label input[type="checkbox"] {
    display: none;
}
.d-flex-self-center{
    display: flex;
    align-self: center;
}
.switch{
    margin-left: 40px;
}
.driver-btn{
    text-align: center;
    margin-top: 10px;
}
@media (max-width: 980px) {
    .forget-pass .box-form .right {
        width: 100%;
    }
    .forget-pass .box-form .left .overlay h1{
        font-size: 50px;
    }
}
.main-search-container h4{
    font-size: 24px;
    font-weight: 500;
    color: #292929;
    line-height: 32px;
}
.switch__label{
    color: #fff;
    font-weight: 500;
}
img.footer-logo {
    max-height: 100px;
    width: auto;
}
.switch:before{
    background: transparent;
}

@media (max-width: 768px) {
    .switch {
        position: relative;
        width: 36rem;
        margin-left: 37px;
        padding: 0 1rem;
        margin-top: 32px;
    }
    .main-search-container {
        height: 700px;
    }
}
@media (max-width: 480px) {
    label[for="two"]{
        margin-left: 0;
        display: block;

    }
    .switch input#two:checked ~ .switch__indicator{
        transform: translate3d(-78%, 120%, 0);
    }
}

.icon-box-2 i img{
    width: auto;
    height: 80%;
}
.icon-box-2 i{
    border-radius: 0;
}
.main-search-input button.button{
    margin-left: 10px;
}
.parsley-error,
input.parsley-error.error{
    border: dashed 2px red !important;
}
.parsley-required,
.parsley-type,
.parsley-equalto{
    color: red !important;
    font-style: italic !important;
}
.gsi-style-7.border-top{
    border: 0 !important;
}
.gsi-style-7 li>* .number{
    font-size: 20px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
}
.parsley-errors-list{
    margin: -10px 0 15px;
}
.tsf-step-content select{
    padding: 10px 15px;
}
.tsf-controls{
    margin-bottom: 60px;
}
.file-input {
    display: inline-block;
    text-align: left;
    background: #fff;
    margin: 1px 0 19px 0;
    width: 100%;
    height: 49px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
    position: relative;
    border-radius: 3px;
}

.file-input > [type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.file-input > .button {
    display: inline-block;
    cursor: pointer;
    background: #eee;
    padding: 8px 16px;
    border-radius: 2px;
    height: 100%;
    line-height: 34px;
    margin-right: 8px;
}

.file-input:hover > .button {
    background: #2c3f4c;
    color: white;
}

.file-input > .label {
    white-space: nowrap;
    font-size: 15px;
    color: gray;
    font-weight: 500;

}
.file-input  .parsley-errors-list{
    position: absolute;
    bottom: -30px;

}
.file-input.-chosen > .label {
    opacity: 1;
}
.file-input .label{
    max-width: 231px;
    overflow: hidden;
    display: inline-block;
    top: 7px;
    position: relative;
}
.gsi-style-7{
    margin-top: 0;
}
.gsi-number-circle li.visited>* .number, .gsi-number-circle li.current>* .number {
    color: #fff;
    background: #96c03d;
    border: 0;
    line-height: 24px;
    display: inline-block;
    padding-left: 6px;
}
.gsi-style-7 li>* .number {
    display: inline-block;
    padding-left: 6px;
    padding-top: 5px;
}
.gsi-number-circle li a:hover .number {
    color: #2c3f4c;
    background: #fff;
}
.gsi-style-7 li>* .desc label{
    text-transform: capitalize;
    padding-top: 5px;
}
.gsi-style-7{
    padding: 0;
    margin: 0;
}
.gsi-style-7 li{
    margin-left: 0;
    width: 100%;
}
.tsf-content{
    overflow: visible !important;
}
.tsf-step-content .chosen-container-single{
    margin-bottom: 16px;
}
.right-side{
    width: auto;
}
.header-widget .sign-in.profile-drop-down{
    top: 1px;
}
#navigation.style-1 ul ul li{
    text-align: left;
}
.media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.media-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
}
.align-self-start {
    -webkit-align-self: flex-start !important;
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
}
.mr-3 {
    margin-right: 1rem !important;
}
.featured-section .media img{
    max-width: 65px;
    height: auto;
}
.featured-section .media-body p{
    font-size: 16px;
    margin-top: 0;
    text-align: justify;
}
.featured-section{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url(../images/car.png);
    background-repeat: no-repeat;
    background-position: 50%;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
.main-search-container{
    overflow: hidden;
}
.main-search-input input{
    font-size: 15px;
    padding: 2px;
}
.main-search-input-item .chosen-container-single .chosen-single span{
    line-height: 42px;
}
.main-search-input-item .chosen-container{
    font-size: 15px;
}
.header-widget .sign-in i{
    padding-left: 4px;
    padding-right: 0;
}
a.sign-in.button{
    color: #fff;
    border-radius: 3px;
}
a.sign-in.button:hover{
    color: #fff;
}
button.button{
    line-height: 25px;
}
.header-widget .sign-in{
    margin: 0 5px;
}
span.or{
    display: inline-block;
    line-height: 66px;
    font-weight: 600;
}
.header-widget{
    top: -10px;
}
@media (max-width: 768px) {
    .featured-section {
        padding-top: 2rem;
        background-position: left 75vw bottom 50%;
        background-size: auto 75%;
    }
    .main-search-input input{
      padding: 0 20px;
    }
    .main-search-input-item .chosen-container-single .chosen-single span{
        line-height: 52px;
    }
}
@media (max-width: 480px) {
    .featured-section {
        padding-top: 2rem;
        background-position: left 75vw bottom 50%;
        background-size: auto ;
    }
    a.sign-in.button {
        font-size: 13px;
        padding: 5px 5px;
    }
    .header-widget .button{
        min-width: 100px;
    }
    span.or{
        line-height: 55px;
    }
    .main-search-inner{
        top: 52%;
    }
    .main-search-input{
        margin-top: 20px;
    }
    .header-widget{
        padding: 5px 0;
    }
    .header-widget{
        top: -2px;
    }
    .sign-in-dialog, #small-dialog{
        max-width: 90vw;
    }
    .social-icons{
        float: none !important;
    }
    .sign-in-dialog, #small-dialog{
        padding: 15px;
    }
    .small-dialog-header{
        width: calc(100% + 30px);
        left: -15px;
        padding: 30px;
        margin-bottom: 4px;
        top: -15px;
    }
}
@media (min-width: 1240px) {
    .container {
        width: 1150px;
    }
}
@media only screen and (max-width: 1024px) {
    #header-container.header-style-2 .left-side, #header-container.header-style-2 .right-side, .right-side, .left-side {
        width: 100% !important;
    }
}
@media (max-width: 992px) {
    .gsi-style-7 li{
        display: block;
    }
}
